name: CI

on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  id-token: write

jobs:
  build:
    name: Build ${{ matrix.build-group }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            arch: x64
            build-group: linux-x64
          - os: ubuntu-22.04-arm
            arch: arm64
            build-group: linux-arm64
          - os: macos-latest
            arch: x64
            build-group: darwin-universal
          - os: windows-latest
            arch: x86
            build-group: win32-x86
          - os: windows-latest
            arch: x64
            build-group: win32-x64
          - os: windows-11-arm
            arch: arm64
            build-group: win32-arm64
    env:
      BUILD_GROUP: ${{ matrix.build-group }}
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: '20'
        architecture: ${{ matrix.arch }}
    - name: Install linux dependencies
      if: ${{ (matrix.build-group == 'linux-x64') || (matrix.build-group == 'linux-arm64') }}
      run: sudo apt-get install libxtst-dev libpng++-dev
    - run: npm ci
    - name: Prebuildify
      run: npm run prebuild-$BUILD_GROUP
      shell: bash
    - uses: actions/upload-artifact@v6
      with:
        name: prebuilds-${{ matrix.build-group }}
        path: prebuilds/
        if-no-files-found: error
  publish:
    name: Publish to npm
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs: build
    steps:
    - uses: actions/checkout@v6
    - uses: actions/download-artifact@v7
      with:
        pattern: prebuilds-*
        path: prebuilds
        merge-multiple: true
    - uses: phips28/gh-action-bump-version@71473b25295fe3907df2ff87cce295a0dce1b20b
      with:
        tag-prefix: 'v'
        version-type: 'patch'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - uses: actions/setup-node@v6
      with:
        node-version: '24'
        registry-url: 'https://registry.npmjs.org'
    - run: npm publish --provenance --access public
